<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hosteria, alta montaña, Caviahue,  sauna, spa, jardín">
    <meta name="author" content="Ansonika">
    <title>Kallfu.com | Hostería de Alta Montaña</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">
	
	<!-- MODERNIZR -->
	<script src="js/modernizr.js"></script>

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	
	
	<!-- /menu -->
	
	<div class="container-fluid full-height">
		<div class="row row-height">
			<div class="col-lg-6 content-left">
				<div class="content-left-wrapper bg_hotel">
					<div class="wrapper">
						<a href="index.html" id="logo"><img src="img/logo.svg" alt="" width="120" height="102"></a>
						<div id="social">
							<ul>
								<li><a href="#0"><i class="social_facebook"></i></a></li>
								<li><a href="#0"><i class="social_twitter"></i></a></li>
								<li><a href="#0"><i class="social_instagram"></i></a></li>
							</ul>
						</div>
						<!-- /social -->
						<div class="left_title">
							<p><h3>Hostería de Alta Montaña</h3></p>
						</div>
					</div>
				</div>
				<!--/content-left-wrapper -->
			</div>
			<!-- /content-left -->

			<div class="col-lg-6 content-right" id="start">
				<div id="wizard_container">
					<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form id="wrapped" method="POST">
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							
							<div id="middle-wizard">
								<div class="step">
									<h3 class="main_question"><strong>1/3</strong>Ingrese los datos de la Reserva</h3>
									<div class="form-group">
										<input type="text" name="dates" class="form-control required" placeholder="Check in - Check out">
										<i class="icon-hotel-calendar_3"></i>
									</div>
									<div class="form-group">
										<div class="styled-select clearfix">
											 <select class="required ddslick" name="room_type">
												<option value="" data-imagesrc="img/icons_select/add_bed.svg">Seleccione tipo de Habitación</option>
												<option value="Triple" data-imagesrc="img/icons_select/single_bed.svg">Triples</option>
												<option value="Cuadruple" data-imagesrc="img/icons_select/single_bed_lux.svg">Cuádruples</option>
												<option value="Sextuple" data-imagesrc="img/icons_select/single_bed_lux.svg">Sextuple</option>
												<option value="Apart Triple" data-imagesrc="img/icons_select/single_bed_lux.svg">Apart Triple</option>
											</select>
										</div>
									</div>
									<div class="row no-gutters pb-1">
										<div class="col-6 pr-2">
											<div class="form-group">
												<div class="qty-buttons">
													<input type="button" value="+" class="qtyplus" name="adults">
													<input type="text" name="adults" id="adults" value="" class="qty form-control required" placeholder="Mayores">
													<input type="button" value="-" class="qtyminus" name="adults">
												</div>
											</div>
										</div>
										<div class="col-6 pl-2">
											<div class="form-group">
												<div class="qty-buttons">
													<input type="button" value="+" class="qtyplus" name="child">
													<input type="text" name="child" id="child" value="" class="qty form-control required" placeholder="Menores">
													<input type="button" value="-" class="qtyminus" name="child">
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<textarea class="form-control notes" placeholder="Comentario Adicional"></textarea>
									</div>
								</div>
								<!-- /step-->
								
								<div class="step">
									<h3 class="main_question"><strong>2/3</strong>Seleccione Adicionales</h3>
									<div class="form-group options clearfix">
										<i class="icon-hotel-bottle"></i><em>Desayuno </em>
										<label class="switch-light switch-ios float-right">
											<input type="checkbox" value="Desayuno" name="options[]">
											<span><span>No</span><span>Si</span></span>
											<a></a>
										</label>
									</div>
									<div class="form-group options clearfix">
										<i class="icon-hotel-coffee"></i><em>Almuerzo </em>
										<label class="switch-light switch-ios float-right">
											<input type="checkbox" value="Almuerzo" name="options[]">
											<span><span>No</span><span>Si</span></span>
											<a></a>
										</label>
									</div>
									<div class="form-group options clearfix">
										<i class="icon-hotel-restaurant"></i><em>Cena </em>
										<label class="switch-light switch-ios float-right">
											<input type="checkbox" value="Cena" name="options[]">
											<span><span>No</span><span>Si</span></span>
											<a></a>
										</label>
									</div>
									<div class="form-group options clearfix">
										<i class="icon-hotel-car"></i><em>Traslado </em>
										<label class="switch-light switch-ios float-right">
											<input type="checkbox" value="Traslado" name="options[]">
											<span><span>No</span><span>Si</span></span>
											<a></a>
										</label>
									</div>
								</div>
								<!-- /step-->
								
								<div class="submit step">
									<h3 class="main_question"><strong>3/3</strong>Ingrese sus Datos</h3>
									<div class="form-group">
										<input type="text" name="first_name" class="form-control required" placeholder="Nombre">
										<i class="icon-user"></i>
									</div>
									<div class="form-group">
										<input type="text" name="last_name" class="form-control required" placeholder="Apellido">
										<i class="icon-user"></i>
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control required" placeholder="Email">
										<i class="icon-envelope"></i>
									</div>
									<div class="form-group">
										<input type="text" name="telephone" class="form-control" placeholder="Telefono">
										<i class="icon-phone"></i>
									</div>
									
								</div>
								<!-- /step-->
								
							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Anterior</button>
								<button type="button" name="forward" class="forward">Siguiente</button>
								<button type="submit" name="process" class="submit">Enviar</button>
							</div>
							<!-- /bottom-wizard -->
						</form>
					</div>
					<!-- /Wizard container -->
				
					<div class="footer">
						
						<em>© 2019 by <a href="http://www.verticedigital.com.ar" target="_new">Verticedigital</a></em>
					</div>
					<!-- Footer -->
			</div>
			<!-- /content-right-->
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	
	
	
	
	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/common_scripts.min.js"></script>
	<script src="js/velocity.min.js"></script>
	<script src="js/functions.js"></script>

	<!-- Wizard script -->
	<script src="js/booking_hotel_func.js"></script>

</body>
</html>