<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="koira - Factory and Manufacturing Html Template">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>Charlas Virtuales - La tecnología al alcance de tu mano.</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:400,500,700%7cTeko:400,500,600,700&display=swap">
  <link rel="stylesheet" href="assets/css/libraries.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- =========================
        Header
    =========================== -->
    <header id="header" class="header header-transparent">
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo/logo-light.png" class="logo-light" alt="logo">
            <img src="assets/images/logo/logo-dark.png" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="index.html" class="dropdown-toggle nav__item-link active">Home</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="nosotros.html" class="dropdown-toggle nav__item-link">Quienes Somos</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="charlas.html" class="dropdown-toggle nav__item-link">Charlas</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="contactanos.html" class="nav__item-link">Contactanos</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="navbar-modules">
            <ul class="list-unstyled d-flex align-items-center modules__btns-list">
              <!-- <li class="d-none d-lg-block"><a href="request-quote.html"
                  class="btn btn__primary btn__bordered module__btn-request">
                  <span>Get A Quote</span><i class="icon-arrow-right"></i>
                </a></li> -->
              <li class="d-none d-lg-block">
                <div class="module__btn module__btn-phone d-flex align-items-center">
                  <i class="icon-phone"></i>
                  <a href="tel:5565454117">55 654 541 17</a>
                </div>
              </li>
            </ul><!-- /.modules-wrapper -->
          </div><!-- /.navbar-modules -->
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    <!-- ============================
        Slider
    ============================== -->
    <section id="slider1" class="slider slider-1">
      <div class="carousel owl-carousel carousel-arrows carousel-dots" data-slide="1" data-slide-md="1"
        data-slide-sm="1" data-autoplay="true" data-nav="true" data-dots="true" data-space="0" data-loop="true"
        data-speed="3000" data-transition="fade" data-animate-out="fadeOut" data-animate-in="fadeIn">
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="assets/images/sliders/1.jpg" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
                <div class="slide__content">
                  <h2 class="slide__title">CICLOS DE CHARLAS Y CONFERENCIAS
                    SOBRE PRODUCTOS DEL CAMPO</h2>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-9 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="assets/images/sliders/2.jpg" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
                <div class="slide__content">
                  <h2 class="slide__title">STREAMING ADAPTATIVO Y MULTIFORMATO </h2>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-9 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="assets/images/sliders/3.jpg" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
                <div class="slide__content">
                  <h2 class="slide__title">COMUNICACION DE EVENTOS</h2>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-9 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->


    <!-- ======================
      Blog Grid
    ========================= -->
    <section id="blogGrid" class="blog blog-grid pb-70">
      <div class="container">
            <div class="text__block">
              <h5 class="text__block-title">¿Estás pensando en realizar un evento? </h5>
              <p class="text__block-desc">Desde nuestra plataforma Eventum podemos realizar streaming en vivo de reuniones, seminarios y congresos, ya sea desde computadoras personales o equipos profesionales.
              <br>
              Eventum es la plataforma de streaming que lleva reuniones, seminarios y congresos a u pantalla. 
              </p>
            </div><!-- /.text-block -->
            <div class="text__block">
              <h5 class="text__block-title">¡Las posibilidades son infinitas! </h5>
              <p class="text__block-desc">Puede ser grabado o en vivo, con invitados o abierto a todo aquel que quiera registrarse. Permite interacción e intercambio, y te ofrece todo el material una vez finalizado tu evento. </p>
            </div><!-- /.text-block -->
            <div class="features-list mb-30">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Seguridad</h4>
                      <p class="feature__desc">tenemos las mejores herramientas para que tu streaming en Eventum sea seguro y privado.</p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">On line</h4>
                      <p class="feature__desc">los participantes no tienen que descargarse ningún tipo de aplicación para acceder a los eventos.</p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Nadie se lo pierde</h4>
                      <p class="feature__desc">la audiencia puede ver tu evento en vivo o acceder al material grabado y editado que quedará disponible después de la transmisión. </p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Moderación y dirección</h4>
                      <p class="feature__desc">tenés la posibilidad de elegir a una persona que modere y dirija el evento y sea el nexo para aquellos miembros del público que quieran interactuar con los oradores. </p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Interacción</h4>
                      <p class="feature__desc">todos los participantes pueden hacer sus preguntas, que quedan registradas y pueden ser respondidas en vivo o post-streaming. </p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Sin límites de espectadores en vivo</h4>
                      <p class="feature__desc">no ponemos limites de usuarios, ingresan tantos como deseen.</p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                </div><!-- /.col-lg-6 -->
                 <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Multidispositivo</h4>
                      <p class="feature__desc">llevamos tu evento a celulares, tablets, computadoras y Smart TVs.</p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                  <div class="feature-item feature-list-item">
                    <div class="feature__content">
                      <h4 class="feature__title">Estadísticas</h4>
                      <p class="feature__desc">en el reporte post-streaming vas a tener información concreta sobre tu audiencia: cuántos usuarios accedieron a la transmisión en vivo o grabada, de qué ciudad son, y cuáles son sus datos de contacto. </p>
                    </div><!-- /.feature-content -->
                  </div><!-- /.feature-item -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </div><!-- /.features-list -->



      </div><!-- /.container -->
    </section><!-- /.blog Grid -->

    <!-- ========================
      Footer
    ========================== -->
    <footer id="footer" class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 footer__widget footer__widget-about">
              <h6 class="footer__widget-title">Formas de Contacto</h6>
              <div class="footer__widget-content">
                <p class="color-gray">Ponte en contacto con nuestro equipo de trabajo quien te brindara mayor información.</p>
                <p class="footer__contact-phone">
                  <i class="icon-phone"></i>
                  <a href="tel:5565454117">55 654 54117</a>
                </p>
                <p>Av. Libertador 1111, Ciudad Autónoma de Buenos Aires<br>1428 Argentina.</p>
                <ul class="social__icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul><!-- /.social-icons -->
              </div>
            </div><!-- /.col-xl-3 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-2 offset-xl-1 footer__widget footer__widget-nav">
              
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-2 footer__widget footer__widget-nav">
              
              <div class="footer__widget-content">
                <nav>
                  
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-12 col-md-10 col-lg-6 col-xl-4 footer__widget footer__widget-newsletter">
              <div class="footer__widget-content">
                <p>Dejanos tu email y recibe nuestras novedades</p>
                <form class="widget__newsletter-form">
                  <div class="form-group mb-0">
                    <input type="text" class="form-control" placeholder="Tu direccion de email">
                    <button type="submit" class="btn btn__primary btn__hover2">
                      <i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </form>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-top -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <img src="assets/images/logo/logo-footer.png" alt="logo">
            </div><!-- /.col-lg-3 -->
            <div class="col-sm-12 col-md-9 col-lg-9 text-right">
              <div class="footer__copyright">
                <nav>
                  <ul class="footer__copyright-links list-unstyled d-flex flex-wrap justify-content-end">
                    <li><a href="#">Terminos & Condiciones </a></li>
                    <li><a href="#">Politica y Privacidad</a></li>
                  </ul>
                </nav>
                <p class="mb-0"> &copy; 2020 Charlasvirtuales.com.ar, Derechos en Trámite. Design by
                  <a href="http://verticedigital.com.ar/" target="_new">Verticedigital.com.ar</a>
                </p>
              </div><!-- /.Footer-copyright -->
            </div><!-- /.col-lg-9 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.Footer-bottom -->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fa fa-long-arrow-up"></i></button>

    <div class="module__search-container">
      <i class="fa fa-times close-search"></i>
      <form class="module__search-form">
        <input type="text" class="search__input" placeholder="Type Words Then Enter">
        <button class="module__search-btn"><i class="fa fa-search"></i></button>
      </form>
    </div><!-- /.module-search-container -->

  </div><!-- /.wrapper -->

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>