<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="koira - Factory and Manufacturing Html Template">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>Charlas Virtuales - La tecnología al alcance de tu mano.</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:400,500,700%7cTeko:400,500,600,700&display=swap">
  <link rel="stylesheet" href="assets/css/libraries.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- =========================
        Header
    =========================== -->
    <header id="header" class="header header-transparent">
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo/logo-light.png" class="logo-light" alt="logo">
            <img src="assets/images/logo/logo-dark.png" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="index.html" class="dropdown-toggle nav__item-link">Home</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="nosotros.html" class="dropdown-toggle nav__item-link">Quienes Somos</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="charlas.html" class="dropdown-toggle nav__item-link">Charlas</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="contactanos.html" class="nav__item-link active">Contactanos</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="navbar-modules">
            <ul class="list-unstyled d-flex align-items-center modules__btns-list">
              <!-- <li class="d-none d-lg-block"><a href="request-quote.html"
                  class="btn btn__primary btn__bordered module__btn-request">
                  <span>Get A Quote</span><i class="icon-arrow-right"></i>
                </a></li> -->
              <li class="d-none d-lg-block">
                <div class="module__btn module__btn-phone d-flex align-items-center">
                  <i class="icon-phone"></i>
                  <a href="tel:5565454117">55 654 541 17</a>
                </div>
              </li>
            </ul><!-- /.modules-wrapper -->
          </div><!-- /.navbar-modules -->
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    <!-- ========================
       page title 
    =========================== -->
    <section id="pageTitle" class="page-title page-title-layout6 bg-overlay bg-parallax text-center">
      <div class="bg-img"><img src="assets/images/page-titles/6.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <h1 class="pagetitle__heading">Ponte en contacto</h1>
            <nav aria-label="breadcrumb">
            </nav>
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ==========================
        contact layout 1
    =========================== -->
    <section id="contactLayout1" class="contact contact-layout1 pt-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="contact__panel">
              <div class="contact__panel-banner">
                <img src="assets/images/banners/2.jpg" alt="banner img">
                <div class="cta__banner">
                  <p class="cta__desc"><strong>Somo un equipo dispuesto a trabajar con vos y para vos los 365 días de
                      09:00 AM - 19:00 PM</strong></p>
                  <div class="contact__number d-flex align-items-center">
                    <i class="icon-phone"></i>
                    <a href="tel:5565454117">55 654 541 17</a>
                  </div>
                </div>
              </div>
              <form class="contact__form-panel">
                <div class="row">
                  <div class="col-sm-12 contact__form-panel-header">
                    <h4>Ingreso al Curso</h4>
                    <p>Ingresa al curso con tu usuario y contraseña.</p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Usuario"></div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group"><input type="password" class="form-control" placeholder="Contraseña"></div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn__secondary btn__block">
                     <a href="videoconf_online.html"> <span>Ingresar</span></a>
                    </button>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div><!-- /.contact__panel -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact layout 1 -->

      <!-- ========================
      Footer
    ========================== -->
    <footer id="footer" class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 footer__widget footer__widget-about">
              <h6 class="footer__widget-title">Formas de Contacto</h6>
              <div class="footer__widget-content">
                <p class="color-gray">Ponte en contacto con nuestro equipo de trabajo quien te brindara mayor información.</p>
                <p class="footer__contact-phone">
                  <i class="icon-phone"></i>
                  <a href="tel:5565454117">55 654 54117</a>
                </p>
                <p>Av. Libertador 1111, Ciudad Autónoma de Buenos Aires<br>1428 Argentina.</p>
                <ul class="social__icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul><!-- /.social-icons -->
              </div>
            </div><!-- /.col-xl-3 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-2 offset-xl-1 footer__widget footer__widget-nav">
              
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-2 footer__widget footer__widget-nav">
              
              <div class="footer__widget-content">
                <nav>
                  
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-12 col-md-10 col-lg-6 col-xl-4 footer__widget footer__widget-newsletter">
              <div class="footer__widget-content">
                <p>Dejanos tu email y recibe nuestras novedades</p>
                <form class="widget__newsletter-form">
                  <div class="form-group mb-0">
                    <input type="text" class="form-control" placeholder="Tu direccion de email">
                    <button type="submit" class="btn btn__primary btn__hover2">
                      <i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </form>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-top -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <img src="assets/images/logo/logo-footer.png" alt="logo">
            </div><!-- /.col-lg-3 -->
            <div class="col-sm-12 col-md-9 col-lg-9 text-right">
              <div class="footer__copyright">
                <nav>
                  <ul class="footer__copyright-links list-unstyled d-flex flex-wrap justify-content-end">
                    <li><a href="#">Terminos & Condiciones </a></li>
                    <li><a href="#">Politica y Privacidad</a></li>
                  </ul>
                </nav>
                <p class="mb-0"> &copy; 2020 Charlasvirtuales.com.ar, Derechos en Trámite. Design by
                  <a href="http://verticedigital.com.ar/" target="_new">Verticedigital.com.ar</a>
                </p>
              </div><!-- /.Footer-copyright -->
            </div><!-- /.col-lg-9 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.Footer-bottom -->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fa fa-long-arrow-up"></i></button>

    <div class="module__search-container">
      <i class="fa fa-times close-search"></i>
      <form class="module__search-form">
        <input type="text" class="search__input" placeholder="Type Words Then Enter">
        <button class="module__search-btn"><i class="fa fa-search"></i></button>
      </form>
    </div><!-- /.module-search-container -->

  </div><!-- /.wrapper -->

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>