.card {
    border: 1px solid #dde4eb;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}

.text-black {
    color: black!important;
}

.table-condensed tbody td {
    padding: 5px 10px;
    color: black;
}

.badge-superadmin {
    background-color: #c69500;
    color: white;
}

.badge-admin {
    background-color: #0ba1b5;
    color: white;
}

.badge-cliente {
    background-color: #795da3;
    color: white;
}

.badge-inscripto {
    background-color: #0d6632;
    color: white;
}

/*Pagination*/

.pagination {
    margin: 0px auto;
    text-align: center;
    display: inline-table;
}

.pagination li{
    color: gray!important;
    margin: 1px;
    padding: 12px 14px;
    display: inline;
    border-radius: 3px;
}

.pagination li a{
    color: black!important;
}

.pagination .disabled{
    color: lightgray;
    border: 1px solid lightgray;
}

.pagination .active{
    background-color: dodgerblue;
    color: white!important;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.66);
}