.card {
    border: 1px solid #dde4eb;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}

.text-black {
    color: black!important;
}

.table-condensed tbody td {
    padding: 8px 10px;
    color: black;
}

.table-condensed thead th {
    padding: 5px 10px;
}

.badge-superadmin {
    background-color: #c69500;
    color: white;
}

.badge-admin {
    background-color: #0ba1b5;
    color: white;
}

.badge-cliente {
    background-color: #795da3;
    color: white;
}

.badge-inscripto {
    background-color: #0d6632;
    color: white;
}

.no-decoration:hover {
    text-decoration: none!important;
    background-color: rgba(90, 113, 208, 0.3);
}

/*Pagination*/

.customed-pagination .pagination {
    margin: 0px auto;
    text-align: center;
    display: inline-table;
}

.customed-pagination .pagination li{
    color: gray!important;
    margin: 1px;
    padding: 12px 14px;
    display: inline;
    border-radius: 3px;
}

.customed-pagination .pagination li a{
    color: black!important;
}

.customed-pagination .pagination .disabled{
    color: lightgray;
    border: 1px solid lightgray;
}

.customed-pagination .pagination .active{
    background-color: dodgerblue;
    color: white!important;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.66);
}

/*  IFRAME  */

.iframe {
    height: 550px;
}

@media (min-width: 450px) and (max-width: 990px) {

    .logo-header {
        width: 25%;
    }



}

@media (min-width: 1500px) and (max-width: 1599px) {

    .iframe {
        height: 550px;
    }

}

@media (min-width: 1400px) and (max-width: 1499px) {

    .iframe {
        height: 500px;
    }

}

@media (min-width: 1300px) and (max-width: 1399px) {

    .iframe {
        height: 450px;
    }

}

@media (min-width: 1200px) and (max-width: 1299px) {

    .iframe {
        height: 420px;
    }

}

@media (min-width: 1086px) and (max-width: 1199px) {

    .iframe {
        height: 400px;
    }

}

@media (min-width: 991px) and (max-width: 1085px) {

    .iframe {
        height: 380px;
    }

}

@media (min-width: 900px) and (max-width: 990px) {

    .iframe {
        height: 550px;
    }

}

@media (min-width: 800px) and (max-width: 899px) {

    .iframe {
        height: 500px;
    }

}

@media (min-width: 700px) and (max-width: 799px) {

    .iframe {
        height: 450px;
    }

}

@media (min-width: 600px) and (max-width: 699px) {

    .iframe {
        height: 400px;
    }

}

@media (min-width: 550px) and (max-width: 599px) {

    .iframe {
        height: 350px;
    }

}

@media (min-width: 500px) and (max-width: 549px) {

    .iframe {
        height: 320px;
    }

}

@media (min-width: 450px) and (max-width: 499px) {

    .iframe {
        height: 300px;
    }

}

@media (min-width: 400px) and (max-width: 449px) {

    .iframe {
        height: 230px;
    }

}

@media (min-width: 300px) and (max-width: 399px) {

    .iframe {
        height: 200px;
    }

}